<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="True" multipleSiteBindingsEnabled="True"/>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EndPoint" >
          <webHttp />  <!--Rest -->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="EndPoint">
          <serviceMetadata httpGetEnabled="True" /> <!--Capital 'T'-->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <!--<bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="True"/>
      </webHttpBinding>
    </bindings>-->
      
    <services>
      <service name="ForAppHarborService.AppHarborService" behaviorConfiguration="EndPoint">
        <endpoint address=""
                  behaviorConfiguration="EndPoint"
                  contract="ForAppHarborService.IAppHarborService" 
                  binding="webHttpBinding" >
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1234/AppharborService.svc/messages/receive" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="IAppHarborService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/receive"
          binding="basicHttpBinding" bindingConfiguration="IAppHarborService"
          contract="ForAppHarborService.IAppHarborService" name="BasicHttpBinding_IAppHarborService" />
      <endpoint address="http://localhost:8733/send"
          binding="basicHttpBinding" bindingConfiguration="IAppHarborService"
          contract="ForAppHarborService.IAppHarborService" name="BasicHttpBinding_IAppHarborService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
